button {
    border: 1px solid #111;
    background: #333;
    color: #eee;
    border-radius: 0;
    min-width: 60px;
    min-height: 30px;
}

window {
    background: rgba(0, 0, 0, 0);
}

container {
    background: #222;
}

closeButton {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0);
    border-radius: 0;
    min-width: 120px;
    min-height: 60px;
}